<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="ch.sahits.test.spring"/>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/groot" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="userDetailsDAO" class="com.groot.dao.UserDetailsDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="addressDAO" class="com.groot.dao.AddressDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="userDetailsFacade" class="com.groot.facade.UserDetailsFacade"/>
	<bean id="addressFacade" class="com.groot.facade.AddressFacade"/>
</beans>
